conversational-robot/node-red/flow.json
[{"id":"203d0cce.cb2d2c","type":"inject","z":"b5821b38.793a4","name":"Start Listening","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["2b37d8f2.d64be"]]},{"id":"443c4229.8c1ea4","type":"inject","z":"b5821b38.793a4","name":"Stop Listening","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["2b37d8f2.d64be"]]},{"id":"2b37d8f2.d64be","type":"change","z":"b5821b38.793a4","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["d5fb3a7.2706148"]]},{"id":"d5fb3a7.2706148","type":"tjbot-listen","z":"b5821b38.793a4","botId":"8d097c25.eb5ef8","name":"","x":490,"y":120,"wires":[["7aabb4c7.48b704","27880c8e.f7b1bc"]]},{"id":"7aabb4c7.48b704","type":"change","z":"b5821b38.793a4","name":"Stop Listening","rules":[{"t":"set","p":"mode","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":180,"wires":[["d5fb3a7.2706148"]]},{"id":"27880c8e.f7b1bc","type":"tjbot-converse","z":"b5821b38.793a4","botId":"8d097c25.eb5ef8","name":"","x":640,"y":120,"wires":[["4b8c9313.d42d04"]]},{"id":"4b8c9313.d42d04","type":"change","z":"b5821b38.793a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join(msg.payload.object.output.text, \" \")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":120,"wires":[["b2e6a000.13adc"]]},{"id":"b2e6a000.13adc","type":"tjbot-speak","z":"b5821b38.793a4","botId":"8d097c25.eb5ef8","mode":"speak","payload":"","name":"","x":1000,"y":120,"wires":[[]]},{"id":"8d097c25.eb5ef8","type":"tjbot-config","z":"","botGender":"male","name":"","listen":"en-US","speak":"en-US","hasServo":false,"hasLED":false,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":false,"speakerDeviceId":"plughw:0,0","microphoneDeviceId":""}]
